:root {
  --main-primary-color: #3A9B39;
  --main-second-color: #172776;
  --main-tertiary-color: #EDC90A;
  --main-font-color-black: #2C2E33;
  --main-font-color-white: #FFF;
  --main-border-color:#E9ECEF;
  --main-white:#FFF;
  --main-grey:#CCC;
  --main-grey-background:#F8F8FB
}